# **Data Types and Structures**

---

## ***THEORY***

---



1.  What are data structures, and why are they important?

     --> Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they improve performance, memory usage, and code clarity.

     Example: list, tuple, set, dictionary in Python.



1. Explain the difference between mutable and immutable data types with examples.

    -->
*  Mutable: Can be changed after creation.

    Example: list, dict, set


*   Immutable: Cannot be changed after creation


    Example: tuple, string, int

3.   What are the main differences between lists and tuples in Python?

     -->

*   **List** : List is mutable. It can be edited. [ ] syntax is used.
*   **Tuples** : Tuples are immutable. Can't be edited after creating. () syntax is used.




4.   Describe how dictionaries store data.

      --> Dictionaries store data as {key : value} pairs using a hashing mechanism. Key can't be edited but value can be edited.

      example : student = {"name": "Rahul", "age": 20}




1. Why might you use a set instead of a list in Python?

    --> Set is unordered collection of unique elements.

*   It doesn't copy same elements.
*   Useful for mathematical operations

     eg: set([1, 2, 2, 3])        output # {1, 2, 3}




6.   What is a string in Python, and how is it different from a list?

     --> String is an immutable sequence of characters.

     It is different from list --> list is mutable , collection of elements can be in a list. But in String only texts can be there.

1.   How do tuples ensure data integrity in Python?

     --> Tuples are immutable, their values cannot be altered accidentally, ensuring data remains unchanged.

1.   What is a hash table, and how does it relate to dictionaries in Python?

      --> A hash table stores data using hash functions.
        Python dictionaries are implemented using hash tables, enabling fast access.

1.   Can lists contain different data types in Python?

       --> Yes, list can store heterogeneous data like integer, float, text.

       eg: data = [1, "Python", 3.14, True]


1.   Explain why strings are immutable in Python.

      --> improves performance

        Enables memory optimization

        Allows safe sharing of string objects

1.   What advantages do dictionaries offer over lists for certain tasks?

      --> Faster lookup using keys

      Logical data representation

      Efficient for large datasets

1.   Describe a scenario where using a tuple would be preferable over a list.

      --> Tuple would be best in using over list when storing fixed data, such as coordinates or database records.


2. How do sets handle duplicate values in Python?

    --> Sets automatically remove duplicate elements while printing.


2.   How does the “in” keyword work differently for lists and dictionaries?

      --> List checkes values. Dictionary checkes key.

      eg: 3 in [1, 2, 3]          # True
         "name" in {"name": 1}  # True



2.   Can you modify the elements of a tuple? Explain why or why not?

      --> Elements in tuple can't be modified as tuple is immutable in nature.

      eg: t = (1, 2)

        t[0] = 5  # Error



2.   What is a nested dictionary, and give an example of its use case.

     --> A nested dictionary means a dictionary inside another dictionary.

     It allows to containing data in a formal format. Like in student Data sheet, etc.

     eg:  students = {"101": {"name": "Amit", "marks": 85}}



2.   Describe the time complexity of accessing elements in a dictionary.

     -->

*  ** Average Case:** O(1) (Constant Time)
       Dictionaries use a hash table.

      When you access a value using a key, Python computes the hash of the key and directly finds the corresponding value.

      This makes lookups very fast, regardless of the dictionary size

*   **Worst Case: O(n)**
    This happens rarely, when hash collisions occur (multiple keys map to the same hash location).

    Python resolves collisions internally, but in extreme cases it may need to check multiple entries.




18. In what situations are lists preferred over dictionaries?

     --> List is prefered over dictionary for Ordered data,Sequential access, Index-based operations.


2.   Why are dictionaries considered unordered, and how does that affect data retrieval?

      --> Dictionaries do not rely on index positions but on keys. Data retrieval is unaffected because lookup uses keys, not order.


2.   Explain the difference between a list and a dictionary in terms of data retrieval.

     -->

*   A list retrieves data using index positions, so accessing an element requires knowing its numeric position, and searching for a specific value may take more time.

     List data retrieval is generally slower for large datasets because it may require sequential searching.

*   In contrast, a dictionary retrieves data using keys, allowing direct and faster access to values.

    Dictionary retrieval is faster because it uses hashing to locate values efficiently.

## ***PRACTICAL***

---

In [ ]:
# 1. Write a code to create a string with your name and print it.

name = "Dhoni"
print(name)

Dhoni

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[ :3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.

string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple."
print(string)

replace_string = string.replace("apple", "orange")
print(replace_string)

I like apple.
I like orange.

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1,2,3,4,5]
print(list)
a = list.remove(3)
print(f"The list after 3 removal : ",list)

[1, 2, 3, 4, 5]
The list after 3 removal :  [1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40,50]
print(list)
a = list[ ::-1]
print(f"The reversed list is : ", a)

[10, 20, 30, 40, 50]
The reversed list is :  [50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1,2,3,4,5}
print(my_set)

my_set.clear()
print(f"The set after clear : ",my_set)

{1, 2, 3, 4, 5}
The set after clear :  set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

number = {1,2,3,4}
print(number)

number.remove(4)
print(f"The number after removing 4 is : ",number)

{1, 2, 3, 4}
The number after removing 4 is :  {1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

student = {"name":"Mahindra Singh Dhoni", "age":42, "city":"Ranchi"}
print(student)

{'name': 'Mahindra Singh Dhoni', 'age': 42, 'city': 'Ranchi'}

In [ ]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

student = {'name': 'John', 'age': 25}
print(student)

student["country"] = "USA"
print(student)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

student = {'name': 'Alice', 'age': 30}
print(student["name"])

Alice

In [ ]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

student = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(student)

del student["age"]
print(student)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

student = {'name': 'Alice', 'city': 'Paris'}

if "city" in student:
    print("City exists in the dictionary.")
else:
    print("City does not exist in the dictionary.")

City exists in the dictionary.

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4]
print ("The List is : ",list)

tuple = (3,4,5,6)
print("The Tuple is : ", tuple)

dictionary = {"name":"Dhoni", "age":42, "city":"Ranchi"}
print("The Dictionary is : ", dictionary)

The List is :  [1, 2, 3, 4]
The Tuple is :  (3, 4, 5, 6)
The Dictionary is :  {'name': 'Dhoni', 'age': 42, 'city': 'Ranchi'}

In [ ]:
 # 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[13, 39, 45, 50, 83]

In [ ]:
# 28.  Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [ ]:
# 29.  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b':2}
dict2 = {'c':4, 'd':5}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [54]:
# 30. Write a code to convert a list of strings into a set.

# List of strings
string_list = ["apple", "banana", "apple", "orange", "banana"]

if 'set' in globals() and not callable(globals()['set']):
    del globals()['set']

string_set = set(string_list)

print(string_set)

{'banana', 'apple', 'orange'}